<mat-toolbar color="primary">
  <span>DASHBOARD</span>
</mat-toolbar>

<div class="live-data-row">
  <mat-card class="live-data">
    <img src="../assets/thermometer.png" />
    <span class="card-title">{{weatherData.series[0][weatherData.series[0].length-1]}} °C</span>
  </mat-card>
  <mat-card class="live-data">
    <img src="../assets/light-bulb.png" />
    <span class="card-title">{{lightData.series[0][lightData.series[0].length-1]}} lm</span>
  </mat-card>
  <mat-card class="live-data">
    <img src="../assets/rain-drops.png" />
    <span class="card-title">{{humidityData.series[0][humidityData.series[0].length-1]}} %</span>
  </mat-card>
</div>

<div class="graph-holder">
  <mat-card class="graph">
    <div class="options">
      <mat-form-field>
        <mat-select [(value)]="selected" placeholder="Choisir une courbe" (change)="onChangeSelect()">
          <mat-option value="humidity">Humidite</mat-option>
          <mat-option value="weather">Temperature</mat-option>
          <mat-option value="light">Luminosite</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend"
      [chartType]="lineChartType"></canvas>
  </mat-card>
</div>