.live-data-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 16px;
}

.graph-holder {
  margin: 16px;
}

mat-card {
  &.live-data {
    background: #673ab7;
    color: white;
    width: 400px;

    span {
      &.card-title {
        font-size: 70px;
      }
    }
    mat-card-title {
      color: white;
    }
    mat-card-subtitle {
      color: white;
    }
    img {
      margin-top: 20px;
      height: 120px;
    }
  }

  &.graph {
    height: 800px;
    padding-bottom: 10px;
    .options {
      height: 30px;
      float: right;
      margin-bottom: 8px;
      .checkbox-block {
        float: left;
        margin-top: 5px 16px;
      }
      mat-form-field {
        float: right;
        margin-top: -10px;
        margin-left: 10px;
      }
    }
  }
}
