<mat-toolbar color="primary">
  <span>DASHBOARD</span>
</mat-toolbar>

<div class="live-data-row">
  <mat-card class="live-data">
    <mat-card-title>{{weatherData.series[0][weatherData.series[0].length-1]}} °C </mat-card-title>
    <mat-card-subtitle>Temperature</mat-card-subtitle>
  </mat-card>
  <mat-card class="live-data">
    <mat-card-title>{{lightData.series[0][lightData.series[0].length-1]}} </mat-card-title>
    <mat-card-subtitle>Luminosité</mat-card-subtitle>
  </mat-card>
  <mat-card class="live-data">
    <mat-card-title>{{humidityData.series[0][humidityData.series[0].length-1]}} %</mat-card-title>
    <mat-card-subtitle>Humidité</mat-card-subtitle>
  </mat-card>
</div>

<div class="graph-holder">
  <mat-card class="graph">
    <div class="options">
      <mat-form-field>
        <mat-select [(value)]="selected" placeholder="Luminosite" (change)="onChangeSelect()">
          <mat-option value="humidity">Humidite</mat-option>
          <mat-option value="weather">Temperature</mat-option>
          <mat-option value="light">Luminosite</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [legend]="lineChartLegend"
      [chartType]="lineChartType"></canvas>
  </mat-card>
</div>